
//- doctype html
//- html
//- head
//-     title= title
//-     link(rel="stylesheet" href="/css/bootstrap.min.css")
//-     link(rel="stylesheet" href="/stylesheets/bootstrap-table.css")
//-     script(src="/js/jquery.min.js")
//-     script(src="/js/bootstrap.min.js")
//-     script(src="/javascripts/bootstrap-table.js")
//- body
//-     block content